.bg-color{
    color:black;
    /* color:#4E4E4E; */
}
.button-css{
    background-color: rgb(128, 139, 241);
    border:rgb(128, 139, 241) ;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.rating{
    color:gold ;
}
